---
http:
  middlewares:
    auth-prefix-chain:
      chain:
        middlewares:
          - forward_auth
          - stip_any_prefix

    # Access from subfolder
    stip_any_prefix:
      stripPrefixRegex:
        regex:
          - "/[a-z0-9-_.]+"

    # Useful for portainer and similar with mandatory trailing '/'
    redirect_append_slash:
      redirectRegex:
        regex: "^(https?://[^/]+/[a-z0-9_]+)$"
        replacement: "$1/"
        permanent: true

    forward_auth:
      forwardAuth:
        address: http://{{ auth_instance }}:4181
        authResponseHeaders: X-Forwarded-User
        trustForwardHeader: true

  routers:
    dashboard:
      rule: "PathPrefix(`/api`) || PathPrefix(`/dashboard`)"
      service: api@internal
      entryPoints: websecure
      middlewares:
        - forward_auth
